DIFY_API_URL=https://api.dify.ai/v1
# 银发
DIFY_API_KEY=your-dify-api-key
# 咨询报告
# DIFY_API_KEY=your-other-dify-api-key
NEXTAUTH_SECRET=please-generate-a-secret
# NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/custom_web_app

# Brandnut Memory API Configuration
BRANDNUT_MEMORY_API_KEY=your-brandnut-memory-api-key
